{% load static %}
{% load i18n %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'homepage:home' %}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{% static 'images/logo.png' %}"
                 alt="лого"
                 height="100%"
                 width="auto"/>
        </a>
        <ul class="nav nav-pills">
            {% with request.resolver_match.view_name as view_name %}
                <li class="nav-item">
                    <a href="{% url 'homepage:home' %}"
                       class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}">{% trans "На главную" %}</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle {% if view_name in 'catalog:item_list,catalog:novelty,catalog:friday,catalog:unchecked' %}btn-primary{% endif %}" type="button" role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            {% trans "Каталог" %}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'catalog:item_list' %}"
                                   class="dropdown-item {% if view_name == 'catalog:item_list' %}active{% endif %}">{% trans "Список товаров" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'catalog:novelty' %}"
                                   class="dropdown-item {% if view_name == 'catalog:novelty' %}active{% endif %}">{% trans "Новинки" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'catalog:friday' %}"
                                   class="dropdown-item {% if view_name == 'catalog:friday' %}active{% endif %}">{% trans "Пятница" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'catalog:unchecked' %}"
                                   class="dropdown-item {% if view_name == 'catalog:unchecked' %}active{% endif %}">{% trans "Непроверенные" %}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about:about' %}"
                       class="nav-link {% if view_name == 'about:about' %}active{% endif %}">{% trans "О проекте" %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'feedback:feedback' %}"
                       class="nav-link {% if view_name == 'feedback:feedback' %}active{% endif %}">
                        {% trans "Форма обратной связи" %}
                    </a>
                </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a href="{% url 'admin:index' %}" class="mx-2">
                    <button class="btn btn-danger">{% trans "Админ панель" %}</button>
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'users:user_list' %}"
                       class="nav-link {% if view_name == 'users:user_list' %}active{% endif %}">
                        {% trans "Активные пользователи" %}
                </a>
            </li>

        {% if not user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'users:login' %}" class="text-decoration-none">
                    <button class="btn btn-primary">Войти</button>
                </a>
                <a href="{% url 'users:signup' %}" class="text-decoration-none">
                    <button class="btn btn-outline-primary">Зарегистрироваться</button>
                </a>
            </li>
        {% elif user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'users:profile' %}"
                class="nav-link {% if view_name == 'users:profile' %}active{% endif %}">
                    Профиль
                </a>
            </li>
        {% endif %}
            {% endwith %}
        </ul>
    </header>
</div>
