{% extends "base.html" %}
{% block title %}
 {{ title }}
{% endblock title %}

{% block content %}
    <form method="post"
          class="form-signin m-auto col-lg-3 d-flex justify-content-center flex-column"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
        {% for field in form.visible_fields %}
            <div class="mb-3">
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
                <div class="form-floating">
                  <input name="{{ field.html_name }}"
                         maxlength="{{ field.max_length }}"
                         id="{{ field.id_for_label }}"
                         class="form-control"
                         type="{{ field.widget_type }}"
                         value="{{ field.value }}"
                  >
                  <label for="{{ field.auto_id }}" class="">
                      {{ field.label }}
                  </label>
                </div>
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
           <div class="alert alert-danger">
               {{ error|escape }}
           </div>
        {% endfor %}
        {% with request.resolver_match.view_name as view_name %}
            {% if view_name == 'users:login' %}
            <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'users:signup' %}" class="text-decoration-none">
                    Создать аккаунт
                </a>
                <a href="{% url 'users:password_reset' %}" class="text-decoration-none">
                    Забыли пароль
                </a>
            </div>
            {% endif %}
        {% endwith %}
        <input type="submit" value="Подтвердить" class="btn btn-lg btn-primary"/>
    </form>
{% endblock content %}