{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
{% load thumbnail %}
    <form method="post"
          class="form-signin m-auto col-lg-3 d-flex justify-content-center flex-column"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
        {% thumbnail user.profile.image "300x300" crop="center" as img %}
                            <img src="{{ MEDIA_URL }}/{{ img }}"
                                 alt="нет аватарки"
                                 width="auto"
                                 height="auto"
                                 class="rounded mb-4"
                            />
        {% endthumbnail %}
        {% with form=user_form %}
            {% include "includes/auth_form.html" %}
        {% endwith %}

        {% with form=profile_form %}
            {% include "includes/auth_form.html" %}
        {% endwith %}

        <div>
            <a href="{% url 'homepage:coffee' %}" class="my-2" target="_blank">
                <button class="btn btn-outline-info" type="button">Выпить кофе</button>
            </a>
            <p class="text-muted">Выпито кофе: {{ coffee_count }}</p>
        </div>
        <input type="submit" value="Подтвердить" class="btn btn-lg btn-primary mb-4"/>
        <div class="d-flex flex-column gap-2">
            <a href="{% url 'users:logout' %}">
                <button type="button" class="btn btn-lg btn-outline-warning w-100">
                    Выйти из аккаунта
                </button>
            </a>
            <a href="{% url 'users:password_change' %}">
                <button type="button" class="btn btn-lg btn-outline-danger w-100">
                    Поменять пароль
                </button>
            </a>
        </div>
    </form>
{% endblock content %}