{% extends "base.html" %}
{% block title %}
 {{ title }}
{% endblock title %}

{% block content %}
    <form method="post"
          class="form-signin m-auto col-lg-3 d-flex justify-content-center flex-column"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
        {% with form=form %}
            {% include "includes/auth_form.html" %}
        {% endwith %}
        <div class="d-flex justify-content-between mb-3">
            <a href="{% url 'users:login' %}" class="text-decoration-none">
                Уже есть аккаунт?
            </a>
            <a href="{% url 'users:password_reset' %}" class="text-decoration-none">
                Забыли пароль
            </a>
        </div>
        <input type="submit" value="Подтвердить" class="btn btn-lg btn-primary"/>
    </form>
{% endblock content %}